.artical_section {
    padding: 3rem 2rem 0;
    display: grid;
    // gap: 4rem;
    
    .artical_cards {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        .artical_image {
            width: 100%;
            height: 100%;
            transform: scale(0.9);
        }

        .artical_card_content {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;
            padding-inline-start: 0.25rem;
            h2 {
                color: hsl(233, 8%, 79%);
                font-size: 40px;
                font-weight: 600;
            }
            h4 {
                font-size: 22px;
                font-weight: 800;
                
                &:hover {
                    color: hsl(5, 85%, 63%);
                    cursor: pointer;
                }
            }
            
            p {
                font-size: 18px;
                color:  hsl(236, 13%, 42%);
                font-weight: 500;
            }
        }
    }
}

@media only screen and (min-width: 960px) and (max-width: 1860px) {
    .artical_section {
       grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1860px) { 
    .artical_section {
        grid-template-columns: repeat(3, 1fr);

        // justify-content: space-evenly;

        .artical_card:first-child {
            margin-inline-end: auto;
        }
        .artical_card:last-child {
            margin-inline-start: auto;
            margin-inline-end: 7rem;
        }
    }
}