#root {
  /* padding: 0; */
  /* height: 100vh; */
  /* padding: 1rem 5rem; */
  overflow: hidden;

}

.app {
  /* background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.3)), url("./assets/Images/pine-watt-2Hzmz15wGik-unsplash.jpg"); */
  /* background-size: cover;
  background-position: center; */
  /* display: flex; */
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  #root {
    padding: 1.75rem;
  }
}